doctype html
html(lang='es')
  head
    title titulo
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    .container
      h1(align='center') titulo
      fieldset
        legend Nivel
        label Niveles
        select
        br
        label Jugadores
        select
